*{
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  padding: 0rem 10%;
  font-weight: normal;
}

body {
  background-image: linear-gradient(to bottom right, #2a34b2, #1486cb);
  color: white;
  align-items: center;
  min-height: 92vh;
  min-width: 92vw;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-repeat: no-repeat;
}

.alert {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.w-full{
  width: 100%;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.text-capitalize{
  text-transform: capitalize;
}


@media only screen and (max-width: 600px) {
  .d-sm-flex {
    display: flex;
  }
  .d-sm-block{
    display: block;
  }
}